<%- include("header") -%>
<body>
    <div id="carsdiv" class="container">
         <% if(key == "success" ){%>
            <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Following Reservation cancelled!!</strong>
                  </div>
            <% }else{%>
                
               <h1 class="text-center"> Car Reserved  </h1>

            <%}%>
       
       <div class="row">
            <div class="col-5" style="display: inline-block; padding: 75px; padding-bottom: 0px; border: black;">
                    <img src="images/<%= name %>.jpg" alt=".." height="250" width="400" >
                </div>
                <div  class="col-7" style="color: #17252A; display: inline-block; padding: 75px; padding-bottom: 0px; ">
                   
                   <h2><%= brandName %> <%= name %></h2>
                   <h4 style="color: #17252A;">     
                        Type:  <%= carType %><br>   
                     Status: <%= carStatus %> In <%= userLocation %><br>
                        
                         
                    
                         
                   </h4>
                   <h2> User: <%= user%></h2>
                   <h2> Carid: <%= carId%></h2>
                   <h2> conf NO.: <%= resId %></h2>
                   
                </div>


      </div>   
     <hr>
      
    </div>
</body>
<%- include("footer")-%>