<%- include("header") -%>

<body>
        <h1>
            
             <%= weeks%> , <%= dayrem%> , <%= hours%>
        </h1>
    <div id="carsdiv" class= "container">
        <div >
            <form action="/type" method="POST">
                
                         <div class="textbox d-flex justify-content-around" style="display: inline-block; padding-right: 21px; color: #17252A"> 
                            
                            <input class="textbox"  type="checkbox" name="types[]" value="economy"><span style="">Economy</span>
                            <input class="textbox" type="checkbox" name="types[]" value="compact"><span style="">Compact</span>
                            <input class="textbox" type="checkbox" name="types[]" value="mid-size"><span style="">Mid-size</span>
                            <input class="textbox"  type="checkbox" name="types[]" value="standard"><span style="">Standard</span>
                            <input class="textbox" type="checkbox" name="types[]" value="full-size"><span style="">Full-size</span>
                            <input class="textbox" type="checkbox" name="types[]" value="premium"><span style="">Premium</span>
                            <input class="textbox"  type="checkbox" name="types[]" value="luxury"><span style="">Luxury</span>
                            <input class="textbox" type="checkbox" name="types[]" value="suv"><span style="">SUVs</span>
                            <input class="textbox" type="checkbox" name="types[]" value="van"><span >Vans</span>
                         </div>
                         <div class="d-flex justify-content-around" style="padding: 0px; margin-top: 17px;">
                                <input type="submit" id="findbutton" class="btn  btn-block " style=" width: 150px;margin-left: 20px;" name="" value="Select Type">
                         </div>
            </form>
            
        </div>
<hr>
             <% for(var i=0; i<data.length; i++) { %>
              <div class="row">
                    <div class="col-5" style="display: inline-block; padding: 75px; padding-bottom: 0px; border: black;">
                            <img src="images/<%= data[i]['name'] %>.jpg" alt=".." height="250" width="400" >
                        </div>
                        <div  class="col-7" style="color: #17252A; display: inline-block; padding: 75px; padding-bottom: 0px; ">
                           
                           <h2><%= data[i]['brandName'] %> <%= data[i]['name'] %></h2>
                           <h4 style="color: #17252A;">     
                                Type:  <%= data[i]['carType'] %><br>
                                  
                                 Status: <%= data[i]['carStatus'] %> In <%= data[i]['location'] %><br>
                                
                                 hourly: <%= data[i]['hourly'] %><br>
                                 daily: <%= data[i]['daily'] %><br>
                                 weekly: <%= data[i]['weekly'] %><br>
                                 estimated cost: $ <%= (data[i]['weekly'])*weeks+ (data[i]['daily'])*dayrem+(data[i]['hourly'])*hours %>
                                 estimated Insurance: $ <%= (data[i]['weeklyIn'])*weeks+ (data[i]['dailyIn'])*dayrem+(data[i]['hourlyIn'])*hours %>
                                 <form name="form-form"  action="/reserve" method="post" id="submit_form">
                                    <input type="hidden" id="value1" name="cost" value=<%= (data[i]['weekly'])*weeks+ (data[i]['daily'])*dayrem+(data[i]['hourly'])*hours %>>
                                    <input type="hidden" id="value1" name="cost" value=<%= (data[i]['weeklyIn'])*weeks+ (data[i]['dailyIn'])*dayrem+(data[i]['hourlyIn'])*hours %>>
                                    <input type="submit" id="findbutton" class="btn  btn-block " style=" width: 175px; margin-top: 15px; margin-left: 5px;" name="" value="Reserve Car">

                                </form>
                                 <input type="submit" id="findbutton" class="btn  btn-block " style=" width: 175px; margin-top: 15px; margin-left: 5px;" name="" value="rent Car">
           
                           </h4>
                        </div>


              </div>   
             <hr>
           
             <% } %>
         

    </div> 
  
    <h1>
        
    </h1>
</body>
<%- include("footer")-%>